:root {
    --primary-color: #28414F;
    --primary-hover-color: #456f88;
    --malina-color: #ffffff;
    --gorch-color: #42899A;
    --sand-color: #72a0ac;
    --success-hover-color: #3b8a7b;
    --success-color: #1E6256;
    --dis-color: #658881;
}